<h1>Edit Profile</h1>
<%= form_for(@user, url: user_path(@user), method: :patch) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: @seatable_data['name'] %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, value: @seatable_data['email'] %>
  </div>

  <div class="field">
    <%= f.label :password %> (leave blank if you don't want to change it)<br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %> (required for updates)<br>
    <%= f.password_field :current_password %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>
<%= link_to 'Back', @user %>
