<h1>Welcome to IPR USRMGT TEST INTERFACE</h1>

<% if user_signed_in? %>
  <h2>Edit Profile</h2>
  <%= form_for(@user, url: user_path(@user), method: :patch) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %> (leave blank if you don't want to change it)<br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :current_password %> (required for updates)<br>
      <%= f.password_field :current_password %>
    </div>

    <div class="actions">
      <%= f.submit 'Update' %>
    </div>
  <% end %>

  <%= link_to 'Logout', logout_path, class: 'button' %>
<% else %>
  <h2>Login</h2>
  <%= form_for(@user, url: user_session_path, method: :post) do |f| %>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit 'Log in' %>
    </div>
  <% end %>

  <%= link_to 'Sign up', new_user_registration_path %> |
  <%= link_to 'Forgot your password?', new_user_password_path %>
<% end %>
